/* IMPORT GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Monomaniac+One&family=Pacifico&family=Roboto:wght@300&family=Satisfy&display=swap');

/* RESETS */
/* UNIVERSAL RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMAGE RESET AND RESPONSIVENESS */
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* VARIABLES */
:root{
    /* COLOR */
    --BODYBACKGROUNDCOLOR: yellow;
    --ALTBACKGROUNDCOLOR: lightyellow;
    --BODYLINEARGRADIENT: var(--ALTBACKGROUNDCOLOR), var(--BODYBACKGROUNDCOLOR);
    --BODYCOLOR: black;
    --HEADERBACKGROUNDCOLOR:var(--BODYCOLOR);
    --HEADERCOLOR: white;
    --FOOTERBACKGROUNDCOLOR: var(--BODYCOLOR);
    --FOOTERCOLOR: var(--HEADERCOLOR);
    --NAVBACKGROUNDCOLOR: rgba(255, 255, 255, 0.301);
    --NAVCOLOR: var(--BODYCOLOR);
    --LINKCOLOR: var(--BODYCOLOR);
    --LINKBACKGROUNDFOCUSCOLOR: red;
    --HIGHLIGHTCOLOR: green;

    /* FONTFAMILY */
    --BODYFONTFAMILY: 'Monomaniac One', sans-serif;
    --HEADINGSFONTFAMILY: Arial, Helvetica, sans-serif;

    /* FONTSIZES */
    --BODYFONTSIZE: 1.5rem;

    /* BORDER */
    --MAINBORDER: 2px solid var(--BODYCOLOR);

    /* PADDING */
    --SMALLPADDING: 0.4rem;
    --NORMALPADDING: 1.1rem;
    --AVERAGEPADDING: 1.5rem;
    --LARGEPADDING: 2rem;

    /* MARGIN */
    --SMALLMARGIN: 0.4rem;
    --NORMALMARGIN: 1.1rem;
    --AVERAGEMARGIN: 1.5rem;
    --LARGEMARGIN: 2rem;


}

/* GENERAL STYLES */
html{
    scroll-behavior: smooth;
    font-family: var(--BODYFONTFAMILY);
    font-size: var(--BODYFONTSIZE);
}

body{
    min-height: 100vh;
    max-width: 800px;
    margin: auto;
    background-color: var(--BODYBACKGROUNDCOLOR);
    background-image: var(--BODYLINEARGRADIENT);
    border-left: var(--MAINBORDER);
    border-right: var(--MAINBORDER);
}

:is(header, nav, figure, main, footer){
    animation: fadeup 5s ease-in-out 1ms 1 forwards;
}

@keyframes fadeup{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

h1,h2,h3{
    font-family: var(--HEADINGSFONTFAMILY);
}

h2,h3{
    color: var(--HIGHLIGHTCOLOR);
    padding: var(--SMALLPADDING);
}

:is(header,footer){
    background-color: var(--HEADERBACKGROUNDCOLOR);
    color: var(--HEADERCOLOR);
    text-align: center;
    position: sticky;
    z-index: 1;
}

a:any-link{
    color: var(--LINKCOLOR);
    text-decoration: none;
}

:is(a:hover, a:focus){
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
}

:is(a:focus, a:target){
    background-color: var(--LINKBACKGROUNDFOCUSCOLOR);
}

input,label,button,textarea,select{
    font: inherit;
}

button{
    padding: 1px 40px;
    background-color: var(--HIGHLIGHTCOLOR);
}

button:hover{
    font-weight: bold;
}

input,select,textarea,button{
    border-radius: 1.2rem;
    width: 100%;
}

/* HEADER STYLES */
header{
    top: 0;
}

h1{
    text-transform: capitalize;
    font-weight: 900;
    padding: var(--SMALLPADDING);
}

/* NAV STYLES */

nav{
    background-color: var(--NAVBACKGROUNDCOLOR);
    color: var(--NAVCOLOR);
}

ul{
    list-style-type: none;
    text-align: center;
}

.hero{
    position: relative;
}

.hero h2{
    position: absolute;
    scale: 0.6;
    background-color: var(--BODYCOLOR);
    border: var(--MAINBORDER);
    animation-name: showmenu;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-delay: 2ms;
    animation-fill-mode: forwards;

}
@keyframes showmenu{
    0%{
        transform: translateY(-280px);
    }

    30%{
        transform: translateY(-30px);
        transform: rotate(90deg);
        opacity: 0.3;
        z-index: 1;
    }

    60%{
        transform: translateY(-15px);
        transform: rotate(180deg);
        opacity: 0.6;
        z-index: 1;
    }

    90%{
        transform: translateY(-5px);
        transform: rotate(360deg);
        opacity: 0.9;
        z-index: 1;
    }

    100%{
        transform: translateX(-40px);
        z-index: 1;
    }
}

/* MAINSTYLES */

.about{
    scroll-margin-top: 6em;
}

.menu{
    scroll-margin-top: 0rem;
}



table{
    border-collapse: collapse;
    width: 100%;
}

footer{
    bottom: 0;
}

.mainfooter a,
.storefooter a,
.contactfooter a{
    color: var(--HEADERCOLOR);
}

table,caption,tr,th,td{
    border: var(--MAINBORDER);
}

/* MEDIA QUERIES */
/* MEDIUM DEVICES LAPTOP ETC */
@media screen and (min-width: 760px){
    body{
        background-color: firebrick;
    }

    nav{
        padding: var(--SMALLPADDING);
    }

    ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    
    .storefigure{
        display: grid;
        place-content: center;
    }

    :is(.mainheader, .contactheader, .storeheader){
        animation: bounceright 5s ease-in-out 1ms 1 forwards;
    }

    @keyframes bounceright{
        0%{
            transform: translateX(2000px);
            opacity: 0;
        }
        60%{
            transform: translateX(-20px);
        }
        80%{
            transform: translateX(5px);
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }

    :is(.mainnav, .contactnav, .storenav){
        animation: bounceleft 5s ease-in-out 1ms 1 forwards;
    }

    @keyframes bounceleft{
        0%{
            transform: translateX(-2000px);
            opacity: 0;
        }
        60%{
            transform: translateX(20px);
        }
        80%{
            transform: translateX(-5px);
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }

    :is(.mainfigure, .storefigure, .contactfigure){
        animation: moveleft 5s ease-in-out 1ms 1 forwards;
    }

    @keyframes moveleft{
        0%{
            transform: translateX(-2000px);
        }
        60%{
            transform: translateX(20px);
        }
        80%{
            transform: translateX(-5px);
        }
        100%{
            transform: translateX(0px);
        }
    }
}

/* LARGER DEVICES DESKTOP*/
@media screen and (min-width: 1024px){
    body{
        background-color: papayawhip;
    }

    nav{
        padding: var(--SMALLPADDING);
    }

    ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    
    .storefigure{
        display: grid;
        place-content: center;
    }
}

/* EXTRA LARGE DEVICES */
@media screen and (min-width: 1400px){
    body{
        background-color: rebeccapurple;
    }

    nav{
        padding: var(--SMALLPADDING);
    }

    ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    
    .storefigure{
        display: grid;
        place-content: center;
    }
}

