/* IMPORT FAMILY FONT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Monomaniac+One&family=Pacifico&family=Roboto:wght@300&family=Satisfy&display=swap');

/* UNIVERSAL RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  */

/* VARIABLES */
:root{
    /* FONTFAMILY */
    --MAINFONTFAMILY: 'Pacifico', cursive;
    --HEADERFONTFAMILY: Arial, Helvetica,sans-serif;

    /* COLORS */
    --BODYBACKGROUNDCOLOR: black;
    --BODYCOLOR: white;
    --ALTBODYCOLOR: rgba(255, 255, 255, 0.308);
    --OUTLINECOLOR: yellow;

    /* FONTSIZES */
    --BODYFONTSIZE: 1.5rem;

    /* PADDING */
    --SMALLPADDING: 0.4rem;
    --NORMALPADDING: 1.1rem;
    --AVERAGEPADDING: 1.5rem;
    --LARGEPADDING: 2rem;

    /* BORDER */
    --NORMALBORDER: 2px solid var(--BODYBACKGROUNDCOLOR);

    /* MARGIN */
    --SMALLMARGIN: 0.4rem;
    --NORMALMARGIN: 1.1rem;
    --AVERAGEMARGIN: 1.5rem;
    --LARGEMARGIN: 2rem;
}



/* GENERAL STYLES */
html{
    scroll-behavior: smooth;
    font-family: var(--MAINFONTFAMILY);
}

body{
    min-height: 100vh;
    max-width: 100%;
    background-color: var(--BODYBACKGROUNDCOLOR);
    color: var(--BODYCOLOR);
    outline: 10px solid var(--OUTLINECOLOR);
    outline-offset: -0.5rem;
}

input,label,textarea,select,button{
    border-radius: 1.2rem;
}

h1,h2{
    font-family: var(--HEADERFONTFAMILY);
    font-weight: 900;
}

h2{
    display: none;
}

/* HEADER STYLES */
 header{
    text-align: center;
    margin-bottom: var(--SMALLMARGIN);
    margin-left: var(--NORMALMARGIN);
 }

 h1{
    text-transform: capitalize;
    padding: var(--NORMALPADDING);
}

 /* MAIN STYLES */

 main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .formelements{
    padding-top: var(--NORMALPADDING);
    padding-bottom: var(--NORMALPADDING);
 }

 input{
    background-color: var(--BODYBACKGROUNDCOLOR);
 }

 input:hover,
 input:focus{
    background-color: var(--BODYCOLOR);
 }


 /* MEDIA BREAKPOINTS */
 @media screen and ( min-width:760px){
    body{
        min-height: auto;
    }
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    fieldset{
        padding: var(--LARGEPADDING);
    }

    .otherdetails{
        border: 2px solid red;
        transform: translateY(-380px);
    }
 }
