/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Monomaniac+One&family=Pacifico&family=Roboto:wght@300&family=Satisfy&display=swap');

/* RESET */
/* UNIVERSAL RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* IMAGE RESET AND RESPONSIVENESS */
img{
    max-width: 100%;
    height: auto;
}

/* VARIABLES */
:root{
    /* COLORS */
    --BODYBACKGROUNDCOLOR: black;
    --BODYCOLOR: white;
    --LINKCOLOR: blue;
    --LINKHOVERCOLOR: red;

    /* FONTFAMILY */
    --BODYFONTFAMILY: 'Dancing Script', cursive;
    --HEADERFONTFAMILY: Arial, Helvetica, sans-serif;

    /* FONTSIZE */
    --BODYFONTSIZE: 1.5rem;

    /* BORDER */
    --BORDER: 2px solid var(--BODYBACKGROUNDCOLOR);

    /* PADDING */
    --SMALLPADDING: 0.4rem;

    /* MARGIN */
    --SMALLMARGIN: 0.4rem;
    
}

/* GENERAL STYLES */
html{
    background-color: var(--BODYBACKGROUNDCOLOR);
    color: var(--BODYCOLOR);
    font-family: var(--BODYFONTFAMILY);
    font-size: var(--BODYFONTSIZE);
}

body{
    min-height: 100vh;
    max-width: 100%;
}

:is(.icons img, nav img){
    max-width: 50px;
    max-height: 50px;
}

.icons img:hover{
    outline: 2px double green;
    border-radius: 50%;
    cursor: pointer;
    animation: shake 0.5s ease-in-out 1ms 1 forwards;
}

@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

nav img{
    background-color: var(--BODYCOLOR);
}

a:any-link{
    text-decoration: none;
    color: var(--LINKCOLOR);
    font-size: var(--BODYFONTSIZE);
}

a:hover{
    font-weight: 900;
    color: var(--LINKHOVERCOLOR);
}

/* NAV STYLES */
nav{
    margin-bottom: var(--SMALLMARGIN);
}

h1, nav img{
    display: none;
}

ul{
    list-style-type: none;
    text-align: center;
}

li{
    padding: var(--SMALLPADDING);
}

.highlight a{
    background-color: var(--LINKHOVERCOLOR);
    color: var(--BODYCOLOR);
    border: var(--BORDER);
}

.highlight a:hover{
    background-color: var(--BODYCOLOR);
    color: var(--LINKHOVERCOLOR);
}

/* MAIN STYLES */
.firstpart h2{
    font-family: var(--HEADERFONTFAMILY);
    text-transform: uppercase;
}

.firstpart p{
    padding: var(--SMALLPADDING);
    margin-bottom: var(--SMALLMARGIN);
    line-height: 1.5;
}

.secondpart h2{
    display: none;
}


/* MEDIA QUERIES */
@media screen and (min-width: 760px){
    nav p{
        border: 3px solid yellow;
    }

    nav img{
        display: grid;
        border: 2px double red;
        margin-top: var(--SMALLMARGIN);
        border-radius: 50%;
        float: left;

    }

    ul{
        display: flex;
        justify-content: space-between;
        padding: var(--SMALLPADDING);
    }

    main{
        display: flex;
        flex-grow: 1;
        gap: 1rem;
    }

    .secondpart{
        max-width: 1000px;
        max-height: 1000px;
    }
}


@media screen and (min-width: 1024px){
    body{
        background-color: firebrick;
    }

    nav p{
        border: 3px solid yellow;
    }

    nav img{
        display: grid;
        border: 2px double red;
        margin-top: var(--SMALLMARGIN);
        border-radius: 50%;
        float: left;

    }

    ul{
        display: flex;
        justify-content: space-between;
        padding: var(--SMALLPADDING);
    }

    main{
        display: flex;
        flex-grow: 1;
        gap: 1rem;
    }

    .secondpart{
        max-width: 1000px;
        max-height: 1000px;
    }
}

@media screen and (min-width: 1400px){
    body{
        background-color: brown;
    }

    nav p{
        border: 3px solid yellow;
    }

    nav img{
        display: grid;
        border: 2px double red;
        margin-top: var(--SMALLMARGIN);
        border-radius: 50%;
        float: left;

    }

    ul{
        display: flex;
        justify-content: space-between;
        padding: var(--SMALLPADDING);
    }

    main{
        display: flex;
        flex-grow: 1;
        gap: 1rem;
    }

    .secondpart{
        max-width: 1000px;
        max-height: 1000px;
    }
}


