/* IMPORTED GGOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Kablammo&family=Monomaniac+One&family=Pacifico&family=Roboto:wght@300&family=Satisfy&display=swap');
/*  */

/* RESETS */
/* UNIVERSAL RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMAGE RESET */
img{
    max-width: 100%;
    height: auto;
}
/*  */

/* VARIABLES */
:root{
    /* COLORS */
    --BODYBACKGRONDCOLOR: white;
    --BODYLINEARGRADIENTCOLOR: blue;
    --BODYCOLOR: black;
    --ALTBODYFADECOLOR: rgba(0, 0, 0, 0.473);
    --LINKCOLOR: var(--BODYBACKGRONDCOLOR);
    --LINKHOVERCOLOR: #00FFFF;
    --LINKACTIVECOLOR: red;
    --HEADERFOOTERBGCOLOR: rgba(0, 0, 0, 1);

    /* FONTFAMILY */
    --BODYFONTFAMILY: 'Dancing Script', cursive;
    --HEADERFONTFAMILY: Arial, Helvetica, sans-serif;

    /* FONTSIZE */
    --SMALLFONTSIZE: 1rem;
    --REGULARFONTSIZE: 1.8rem;
    --LARGEFONTSIZE: 2rem;

    /* BORDER */
    --BORDER: 2px solid red;
    --PROJECTSBORDER: 3px solid white;

    /* PADDING */
    --EXTRASMALLPADDING: 0.4rem;

    /* MARGIN */
    --NORMALMARGINTOPBOTTOM: 1.2rem;
    --LARGEMARGIN: 4rem;
}

/* GENERAL STYLES */
html{
    scroll-behavior: smooth;
    font-family: var(--BODYFONTFAMILY);
    font-size: var(--REGULARFONTSIZE);
}

body{
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--BODYBACKGRONDCOLOR);
    background-image: radial-gradient(var(--BODYLINEARGRADIENTCOLOR), var(--BODYBACKGRONDCOLOR));
}

h1,h2,h3,h4{
    font-family: var(--HEADERFONTFAMILY);
}


h2{
    font-weight: 900;
    text-transform: uppercase;
}

a:any-link{
    color: var(--LINKCOLOR);
    text-decoration: none;
}

:is(a:hover, a:focus){
    color: var(--LINKHOVERCOLOR);
    text-decoration: underline;
    font-weight: bolder;
}

a:active{
    color: var(--LINKACTIVECOLOR);
}

header,footer{
    background-color: var(--HEADERFOOTERBGCOLOR);
    text-align: center;
    position: sticky;
    z-index: 1;
}

input{
    padding: var(--EXTRASMALLPADDING);
    margin-bottom: 1rem;
}

button{
    padding: 5px 30px;
    border-radius: 2rem;
    background-color: var(--LINKHOVERCOLOR);
    color: var(--BODYBACKGRONDCOLOR);
}


/* HEADER STYLES */

h1{
    color: var(--LINKHOVERCOLOR);
}

h1:hover{
    color: rgba(255, 255, 0, 0.795);
}

ul{
    list-style-type: none;
}

li{
    text-transform: uppercase;
    padding: var(--EXTRASMALLPADDING);

}
/*  */

/* NAV STYLES */

nav{
    color: var(--BODYBACKGRONDCOLOR);
    min-height: 100vh;
    max-width: 100%;
    display: grid;
    place-items: center;
    background-image: url(/images/backgroundimagenav.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: var(--NORMALMARGINTOPBOTTOM);
}

nav p{
    transform: translateY(-100px);
}

.navlink{
    transform: translateY(-200px);
    border: 2px solid var(--LINKCOLOR);
    background-color: var(--LINKHOVERCOLOR);
    padding: var(--EXTRASMALLPADDING);
    
}

.navlink:hover{
    background-color: #00ffff8f;

}



.navlink a{
    padding: var(--EXTRASMALLPADDING);
    text-transform: capitalize;
}
/*  */

/* MAIN STYLES */
.service{
    margin-bottom: var(--NORMALMARGINTOPBOTTOM);
}


.emoji h3{
    text-align: center;
}

.portfoli{
    margin-bottom: var(--NORMALMARGINTOPBOTTOM);
}

.portfoli figure{
    background-color: var(--LINKHOVERCOLOR);
}

.portfoli img:hover{
    opacity: 0;
}

.portfoli h4{
    text-transform: capitalize;
}

.firstprojects{
    margin-top: var(--NORMALMARGINTOPBOTTOM);
}

.firstprojects div,
.lastprojects div{
    margin-bottom: var(--NORMALMARGINTOPBOTTOM);
    max-width: 100%;
    background-color: var(--BODYBACKGRONDCOLOR);
    border: var(--PROJECTSBORDER);
    padding-bottom: var(--EXTRASMALLPADDING);
    
}

.infoabout{
    margin-bottom: var(--NORMALMARGINTOPBOTTOM);
}

.timeline div{
    margin-bottom: var(--NORMALMARGINTOPBOTTOM);
}


.timeline img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translateX(2.8rem);
}

.timeline h3{
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: var(--EXTRASMALLPADDING);
}

.makecircle{
    color: var(--BODYBACKGRONDCOLOR);
    background-color: var(--LINKHOVERCOLOR);
    border: var(--PROJECTSBORDER);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    transform: translateX(1rem);
}

.makecircle p{
    text-transform: uppercase;
    transform: translateY(2rem);
}

.partners{
    margin-bottom: var(--NORMALMARGINTOPBOTTOM);
}

.teammebers{
    margin-top: var(--NORMALMARGINTOPBOTTOM);
    
}

.teammembers div{
    margin-bottom: var(--NORMALMARGINTOPBOTTOM);
}

.teammembers h3{
    text-transform: capitalize;
}

.teamcircles{
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.teamcircles div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
}

.teamcircles div:hover{
    background-color: var(--LINKHOVERCOLOR);
}

.reachout{
    background-image: url(/images/backgroundimage2.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0.2rem;
}

footer{
    color: var(--BODYBACKGRONDCOLOR);
}


/* PROJECT1-6STYLES */
:is(.project1page, .project2page, .project3page, .project4page, .project5page, .project6page){
    text-align: center;
}

:is(.project1page, .project2page, .project3page, .project4page, .project5page, .project6page) h2{
    text-transform: uppercase;
    color: var(--LINKHOVERCOLOR);
}

:is(.project1page, .project2page, .project3page, .project4page, .project5page, .project6page) h2:hover{
    color: yellow;
}

:is(.project1, .project2, .project3, .project4, .project5, .project6){
    margin-top: var(--NORMALMARGINTOPBOTTOM);
    padding: var(--EXTRASMALLPADDING);
}

:is(.project1, .project2, .project3, .project4, .project5, .project6) a{
    border: var(--PROJECTSBORDER);
    padding: var(--EXTRASMALLPADDING);
    text-transform: uppercase;
    background-color: var(--LINKHOVERCOLOR);
    text-decoration: none;
}

:is(.project1, .project2, .project3, .project4, .project5, .project6) a:hover{
    color: var(--BODYBACKGRONDCOLOR);
    text-decoration: underline;
    font-weight: 900;
}

/* MEDIA QUERIES */
/* PHONE DEVICES MIN-WIDTH: 414PX */

@media screen and (min-width: 360px){
    .timeline img{
        transform: translateX(5rem);
    }
}

/* DEVICES MIN-WIDTH: 760PX */

@media screen and (min-width: 760px){
    body{
        background-color: var(--BODYBACKGRONDCOLOR);
        background-image: radial-gradient(var(--BODYBACKGRONDCOLOR), var(--BODYBACKGRONDCOLOR));
    }

    h1{
        float: left;
        font-size: 0.6rem;
        margin-top: 0.4rem;
    }

    ul{
        display: flex;
        font-size: 0.7rem;
        justify-content: space-evenly;
    }

    .service{
        margin-top: var(--LARGEMARGIN);
        background-color: rgba(211, 211, 211, 0.411);
    }

    :is(.service h2, .service p){
        text-align: center;
    }

    .service p{
        margin-bottom: var(--LARGEMARGIN);
    }

    .flexapply{
        display: flex;
        justify-content: space-evenly;
        gap: 1.2rem;
    }

    .portfoli{
        margin-top: var(--LARGEMARGIN);
        margin-bottom: var(--LARGEMARGIN);
    }

    :is(.portfoli h2, .portfoli p){
        text-align: center;
    }

    .portfoli p{
        margin-bottom: var(--LARGEMARGIN);
    }

    .firstprojects{
        display: flex;
        justify-content: space-evenly;
        gap: 1.2rem;
        margin-bottom: 1rem;
    }

    .firstprojects div{
        max-width: 500px;
        max-height: 500px;
        background-color: lightgray;
    }

    .firstprojects figure{
        margin-bottom: 2.5rem;
    }

    :is(.firstprojects h4, .firstprojects p){
        text-align: center;
    }

    .lastprojects{
        display: flex;
        justify-content: space-evenly;
        gap: 1.2rem;
    }

    .lastprojects div{
        max-width: 500px;
        max-height: 500px;
        background-color: lightgray;
    }

    .lastprojects figure{
        margin-bottom: 2.5rem;
    }

    :is(.lastprojects h4, .lastprojects p){
        text-align: center;
    }

    .infoabout{
        background-color: papayawhip;
        padding-bottom: 4rem;
    }

    :is(.infoabout h2, .infoabout p){
        text-align: center;
    }

    .infoabout p{
        margin-bottom: var(--LARGEMARGIN);
    }

    .infoabout div{
        margin-bottom: 3rem;
    }

    .infoabout img{
        border: 2px double var(--LINKHOVERCOLOR);
    }

    .left img{
        float: left;
        transform: translateX(0rem);
    }

    .left h3{
        margin-left: var(--LARGEMARGIN);

    }

    .right img{
        float: right;
        transform: translateX(-7rem);
    }

    .makecircle{
        margin-left: 9rem;
    }

    .styleportion{
        background-color: lightgray;
        text-align: center;
        margin-top: var(--LARGEMARGIN);
        margin-bottom: 0.1rem;
        padding: 3rem;

    }

    .teammembers{
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;
        background-color: lightgray;
    }

    .teammembers div{
        text-align: center;
    }

    .partners p{
        text-align: center;
    }

    fieldset{
        display: flex;
        justify-content: space-evenly;
    }

    .buttonelements{
        text-align: center;
    }




}






